<div>
    <h1>My App</h1>
    <p>My App is a simple app that does something.</p>
    <p>It is built with <a href="http://expressjs.com/">Express</a> and <a href="http://handlebarsjs.com/">Handlebars</a>.</p>
    <p>It is running on <a href="http://nodejs.org/">Node.js</a>.</p>
    <p>It is deployed on <a href="http://heroku.com/">Heroku</a>.</p>
    <p> Hola {{ name }}</p> welcome my friend!
</div>